*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Rubik Mono One', sans-serif;
}
.box{
    width: 100%;
    height: 100vh;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.content>h1{
    color: yellow;
    text-align: center;
}
.box.red img{
    width: 500px;
}