*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Rubik Mono One', sans-serif;
}
.box{
    width: 100%;
    height: 100vh;
    position: relative;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 50%;
}
.content>h1{
    color: yellow;
    text-align: center;
    font-size: 2rem;
}
.yellow h1{
    color:green;
}
.box img{
    width: 100%;
}
